<div class="container-fluid" style="background-color:powderblue">
    <h3 style="text-align: center;color: black">Welcome to Paytm</h3>
    </div>

<form align="center">
<button type="submit" class="btn btn-outline-dark" (click)="showBalance()">Show Balance</button>
<hr>
<button type="submit" class="btn btn-outline-dark" (click)="depositAmount()">Deposit Amount</button>
<hr>
<button type="submit" class="btn btn-outline-dark" (click)="withdrawAmount()">Withdraw Amount</button>
<hr>
<button type="submit" class="btn btn-outline-dark" (click)="fundTransfer()">Fund Transfer</button>
<hr>
<button type="submit" class="btn btn-outline-dark" (click)="showTransaction()">Show Transactions</button>
<hr>
<button type="submit" class="btn btn-outline-dark" (click)="logout()">Logout</button>
</form>
